body {
    margin: 0;
    background: #030303;
}

.main-menu {
    background-image: url('hand_match_small.jpeg');
    background-repeat: no-repeat;
    margin: 0;
}

.main-menu-large {
    display: none;
    background-image: url('hand_match_large.jpeg');
    background-repeat: no-repeat;
    background-position: -180px 0px;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    height: 40em;
    width: 100%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

#ross-title {
    position: relative;
    top: 6em;
    left: 1em;
    /* FORMERLY 2EM VIA REUGEN - font-size: 2em; */
    font-size: 6vh;
    font-family: 'Duru Sans', sans-serif;
    color: #ffffff;
    margin-bottom: 1em;
}

#savill-title {
    position: absolute;
    font-size: 12vh;
    top: 70%;
    left: 5%;
    font-family: 'Duru Sans', sans-serif;
    color: #F4D059;
}

.main-link {
    /* display: block; */
    color: #ffffff;
    text-decoration: transparent;
    top: 9.5em;
    font-size: 5vh;
    font-family: 'Life Savers', cursive;
    transition: .3s;
    margin: .6em;
    position: relative;
}

.main-link:hover {
    color: orange;
}

.main-link:before {
    content: "";
    position: absolute;
    width: 0em;
    background: orange;
    height: .2em;
    top: 1.3em;
    border-radius: .1em;
    left: .5em;
    transition: .3s;
}

.main-link:hover:before {
    width: 6em;
}

#biography {
    left: 1.5em;
    display: block;
    width: 100px;
}
#proficiency {
    left: 2.5em;
    display: block;
    width: 100px;
} 
#contact {
    left: 3.5em;
    display: block;
    width: 170px;
} 

@keyframes animate
{
    0%
    {
        transform: translate(0) scaleX(0);
        transform-origin: left;
        left: 33.3%;
        right: auto;
    }
    45%
    {
        transform: translate(0) scaleX(1);
        transform-origin: left;
        left: 33.3%;
        right: auto;
    }
} 

@media only screen and (max-width: 479px) and (min-width: 1px) {
    .main-menu {
        background-image: url('hand_match_small.jpeg');
        background-repeat: no-repeat;
        background-size: -10px;
        background-position: -180px -50px;
        display: block;
        height: 100vh;
    }
}

@media only screen and (max-width: 2000px) and (min-width: 480px) {
   
    .main-menu {
    display: none;
    }
    
    .main-menu-large {
        display: block;
        background-size: cover;
        background-image: url('hand_match_large.jpeg');
        box-sizing: border-box;
        background-position: -60px -100px;
        height: 100vh;
        overflow: auto
    }
    .container {
            min-height: 100%;
            width: 100%;
            margin: 0;
            padding: 0em;
    }

    #ross-title {
        margin-bottom: 1em;
        top: 1em;
        left: 0.8em;
        font-size: 10vh;
    }
    #savill-title {
            font-size: 18vh;
    }
    .main-link {
        font-size: 5.5vh;
        top: 5.0em;
    }
    #contact {
        left: 3.5em;
        display: block;
        width: 200px;
}
